.carousel {
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: relative;
  width: 600px;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 400px; 
  height: 400px;
  position: relative;
  justify-content: center;
  align-items: center; 
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  position: absolute;
  width: 100%;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.carouselImage {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.prevButton, .nextButton {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.prevButton {
  bottom: 160px;
}

.nextButton {
  top: 160px;
}

.active {
  z-index: 1;
  transform-origin: left center;
  transform: scale(1.2);
}

.textContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}
