@import './_variables';

@mixin heading-styles($size, $weight) {
    font-size: $size;
    font-weight: $weight;
    color: $primary-text-color;
  }

@mixin button-styles($border-color) {
    padding: 10px 20px;
    font-size: $body-font-size;
    font-weight: bold;
    border: 1px solid $border-color;
    color: $primary-text-color;
    &:hover {
      background-color: $button-hover-bg-color;
      color: $button-hover-text-color;
      border-color: $primary-border-hover-color;
    }
  }